.App {
  text-align: center;
  background-color: #070707;
  height: 100vh;
  width: 100vw;
}

footer{
  color: #fff;

  position: fixed;
  white-space: nowrap;
  width: 100%;
  bottom: 10px;
  font-size: 12px;

  opacity: .3;

  transition: .3s;

  user-select: none;
}

footer:hover{
  opacity: 1;
}

footer a{
  color: #229ecf;
}